*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{



}
main{

    padding-top:40px;
    
}


.container
{
max-width: 1320px;
margin: auto;



}

.form-area{
max-width: 600px;
margin: auto;
border: 2px solid black;
padding: 50px;
}

.fname{
    display: flex;
    align-items: center;
    /* position: relative; */



}

.fname img{
width: 20px;
/* position: absolute; */
/* right: 0; */
}
.fname input{
text-align: center;
}

/* LAST NAME  */
.lname
{



}


.lname img{
    width: 20px;
}
.lname input{
    text-align: center;
}

